extends ../layout

block content
  .row
    .col-10
    .col-2
      a.btn.btn-primary.new_request(href='/leave_requests/new') New Request
  ul.leave_requests
    each leave_request in leave_requests
      li.leave_request
        .card
          .card-header
            b= leave_request.fromDate 
          .card-block
            .row
              .col-2
                h4.card-title= leave_request.leaveTypeName
                p.card-text= leave_request.reason
              .col-2
                h4.card-title Status
                p.card-text= leave_request.status
              if leave_request.status == 'initiated'
                .col-2
                  .card-title
                    button.btn.btn-info(onclick="window.location='/leave_requests/" + leave_request.id + "/edit'", type='button') Edit
                  .card-text
                    button.btn.btn-danger(type='button', onclick="cancel(" + leave_request.id + ")") Cancel
