extends ../layout

block content
  ul.leave_requests
    each leave_request in leave_requests
      li.leave_request
        .card
          .card-header
            b= leave_request.fromDate 
          .card-block
            .row
              .col-2
                h4.card-title= leave_request.leaveTypeName
                p.card-text= leave_request.reason
              .col-2
                h4.card-title Status
                p.card-text= leave_request.status
              .col-2
                if leave_request.status == 'initiated'
                  button.btn.btn-success(type='button', onclick="accept(" + leave_request.id + ")") Approve